##############################
#### Twilio account info #####
##############################

# This is where you put YOUR phone number
NUMBER_TO_TEXT=

# This is where you put the number Twilio generates for you
TWILIO_NUMBER=

# This is your twilio account config
TWILIO_ACCOUNT=
TWILIO_TOKEN=